nav {
    height: 8vh;
}

.headerWrapper {
    background-color: #606b75a6;
    border-color: #454d55;
}

a {
    color: rgb(228, 228, 228);
}

a:hover {
    color: rgb(255, 0, 0);
}

span {
    color: rgb(228, 228, 228);
    margin-top: 4px;
}


/* @media screen and (max-width: 750px) {
    .navbar-brand {
        display: none;
    }
} */