header {
    background-color: #000116bb;
    border-color: #454d55;
}

nav {
    width: 98%;
    height: 8vh;
}

a {
    color: rgb(228, 228, 228);
}

a:hover {
    color: rgb(200, 0, 0);
}

span {
    padding-top: 3px;
    color: rgb(228, 228, 228);
}

span:hover {
    color: rgb(200, 0, 0);
}

@media screen and (max-width: 766px) {
    .navbar-collapse {
        z-index: 1;
        background-color: #606b75a6;
        border-color: #454d55;
    }
}