

.loginWrapper {
    padding-top: 150px;
}
form{
	background-color:rgba(226, 226, 251, 0.822);
}
/* set padding and size of th form */
.form-container{
	border-radius: 30px;
    padding: 30px;
    border-color: black;
}
body{
	
    padding-top: 15vh;	
    min-height: 84vh;
    width: 100%;
    background-color: rgba(226, 226, 251, 0.822);
    color: rgb(28, 28, 28);
}
