.loginWrapper {
    padding-top: 150px;
}

form {
    background-color: rgba(226, 226, 251, 0.822);
    border-radius: 30px;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    border-color: black;
}

body {
    /* padding-top: 15vh; */
    min-height: 84vh;
    padding-right: 2%;
    width: 100%;
    background-color: rgba(226, 226, 251, 0.822);
    color: rgb(28, 28, 28);
}

#registerThing {
    padding-top: 5px;
}