.registerWrapper {
    padding-top: 150px;
}

form {
    background-color: #4f7cacad;
    border-radius: 30px;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    border-color: black;
    color: whitesmoke;
}

body {
    /* padding-top: 15vh; */
    min-height: 84vh;
    padding-right: 2%;
    width: 100%;
    background-color: #00115fbb;
    color: rgb(28, 28, 28);
}