#nazione {
    text-align: center;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 99999px;
}

.wrapper {
    /* min-height: 84vh; */
    min-height: 79vh;
    color: rgb(28, 28, 28);
    /* background-color: rgba(226, 226, 251, 0.822); */
    background-color: #5e90c5a1;
    margin: 0;
    padding: 0;
}

#compila {
    padding-bottom: 100px;
}

h1 {
    color: rgb(28, 28, 28);
}

.pointer {
    color: rgb(28, 28, 28);
}

#country {
    color: rgb(28, 28, 28);
}

input {
    color: rgb(28, 28, 28);
}

form {
    color: rgb(28, 28, 28);
}

a {
    color: whitesmoke;
    background-color: rgb(20, 136, 15);
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(15, 110, 12);
    cursor: pointer;
}

#dlCSV {
    color: whitesmoke;
    background-color: #ED254E;
    /* padding: 10px; */
    border-radius: 5px;
    margin-right: 5px;
    border-color: rgb(95, 114, 13, 0);
    box-shadow: 2px 5px rgb(28, 28, 28);
    height: 41px;
}

#dlCSV:hover {
    background-color: #ca2042;
}

.autoCampo {
    margin-right: 7%;
    padding-left: 3%;
    padding-top: 10px;
}

.scegliData {
    padding-top: 10px
}

#fila {
    padding-top: 20px;
}

#updOn {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 41px;
    box-shadow: 2px 5px rgb(28, 28, 28);
    background-color: #4F7CAC;
}

#updOff {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 41px;
    box-shadow: 2px 5px rgb(28, 28, 28);
    background-color: #4F7CAC;
}

#downloadLink,
#downloadLink2 {
    color: whitesmoke;
    box-shadow: 2px 5px rgb(28, 28, 28);
    background-color: #101935;
    /* margin-bottom: 300px; */
    position: absolute;
}

.png {
    margin-bottom: 48px;
}

#grafici {
    background-color: white;
}

label {
    color: white;
}

.row {
    padding-left: 5%;
}

.compare {
    display: none;
}

@media screen and (max-width: 750px) {
    .sparire {
        display: none;
    }
    .compare {
        display: block;
    }
}