#nazione {
    text-align: center;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 99999px;
}

.wrapper {
    /* min-height: 84vh; */
    min-height: 69vh;
    color: rgb(28, 28, 28);
    background-color: rgba(226, 226, 251, 0.822);
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(28, 28, 28);
}

.pointer {
    color: rgb(28, 28, 28);
}

#country {
    color: rgb(28, 28, 28);
}

input {
    color: rgb(28, 28, 28);
}

form {
    color: rgb(28, 28, 28);
}

a {
    color: whitesmoke;
    background-color: rgb(20, 136, 15);
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(15, 110, 12);
    cursor: pointer;
}

#dlCSV {
    color: whitesmoke;
    background-color: rgb(114, 136, 15);
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border-color: rgb(95, 114, 13);
}

#dlCSV:hover {
    background-color: rgb(95, 114, 13);
}

.autoCampo {
    margin-right: 7%;
    padding-left: 3%;
    padding-top: 10px;
}

.scegliData {
    padding-top: 10px
}

#fila {
    padding-top: 20px;
}

#updOn {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

#updOff {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

#downloadLink,
#downloadLink2 {
    color: white;
    margin-top: 30px;
}

.row {
    padding-left: 5%;
}

.compare {
    display: none;
}

@media screen and (max-width: 750px) {
    .sparire {
        display: none;
    }
    .compare {
        display: block;
    }
}