<script type="text/javascript" src="./vendors/node_modules/chart.js/dist/chart.bundle.js"></script>
<script type="text/javascript" src="./assets/js/linechart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

<div class="wrapper">
    <div class="container p-5">
        <!-- <h1>Filter by country</h1> -->

        <div id="divChart">
            <canvas class="chart-wrapper" #chartwrapper id="chartwrapper">
            <!-- <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas> -->
            </canvas>
        </div>
        <div *ngIf="login.isPress || login.isAdmin">
            <a id="downloadLink" class="btn-default" download="filename.png" (click)="saveAsImage()">Save as PNG </a>
        </div>

        <br>

        <div id="divChart2">
            <canvas class="chart-wrapper2" #chartwrapper2 id="chartwrapper2">
            <!-- <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas> -->
            </canvas>
        </div>
        <div *ngIf="login.isPress || login.isAdmin">
            <a id="downloadLink2" download="filename.png" (click)="saveAsImage2()" title="Salvataggio Grafico">Save as PNG </a>
            <button id="dlCSV" (click)="downloadCSV()" class="btn btn-primary">Save as CSV</button>
            <br>
        </div>


        <!--Questo e' stato fatto in smart working. In altre parole: Smorking-->

        <div class="row" id="fila">

            <form class="autoCampo">
                <mat-form-field>
                    <input type="text" placeholder="Choose a country" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" id="country" required [(ngModel)]="country">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <button id="updOff" class="btn btn-primary" *ngIf="flagGrafico==false" disabled>Update chart</button>

            <button id="updOn" class="btn btn-primary" (click)="updGraph(form)" *ngIf="flagGrafico">Update chart</button>






        </div>

        <!--FILTRO PER CATEGORIA-->
        <form class="pt-5" #form="ngForm">
            <div class="form-group row">
                <label for="continent" class="col-sm-2 col-form-label">Choose date</label>
                <div class="col-sm-10">
                    <select class="form-control" id="sort" [(ngModel)]="giornoCorrente" required name="sort">
                        <option *ngFor="let option of dataFilter()"> {{option.date}} </option>
                    </select>
                </div>
            </div>
        </form>


        <h1 id="nazione"></h1>



    </div>

    <!-- <a id='a' (click)="save()">click me to save</a> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/FileSaver.js/master/FileSaver.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <ngx-scrolltop></ngx-scrolltop>
</div>
<!--<button id="download" class="btn btn-primary float-right bg-flat-color-1" (click)="save()" title="Salvataggio Grafico"> </button><-->


<!-- Download Icon -->
<!-- <i class="fa fa-download"></i>

</a> -->


<!-- <script src="./bootstrap-4.4.1/js/bootstrap.min.js" charset="utf-8"></script>
<script src="./bootstrap-4.4.1/jquery/jquery-3.4.1.js" charset="utf-8"></script> -->