<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body class="sfondo">
    <div class="wrapper">
        <!--Griglia zero-->
        <!-- <div class="w3-row-padding w3-container griglia0">
            <div class="w3-content">
                <div class="inizio">
                    <h2>Qui ci va' un'immagine di benvenuto</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
            </div>
        </div> -->
        <div class="griglia0">
            <!-- <div class="row">
                <div class="compare">
                    <h2>Put some welcome stuff here</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
                <div class="col-2"></div>
                <div class="col-7">
                    <h2>Put soem welcome stuff here</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
                <div class="col-3"></div>
            </div> -->
        </div>

        <!-- Prima griglia -->

        <div class="row griglia1">
            <div class="compare">
                <h1>What is this Coronavirus?</h1>
                <p class="testog">The coronavirus (CoV) is actually a big family of breathing virus which can cause low to medium level sicknesses, from the common cold to a more important syndrome like the MERS (Middle-East Respiratory Syndrome) or the SARS (Severe Acute
                    Respiratory Sindrome) They're called coronavirus because of the crown-shaped spikes found on the molecule surface (corona = crown). The coronaviruses are common in many animal species (such as camels and bats). There is, though, a
                    very small chance that Coronaviruses can evolve and infect a human, and then spread to the population. This new Coronavirus is actually a new branch of the Coronavirus family which has never been identified on a human until this recent
                    pandemic started.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>What is this Coronavirus?</h1>
                <p class="testog">
                    The coronavirus (CoV) is actually a big family of breathing virus which can cause low to medium level sicknesses, from the common cold to a more important syndrome like the MERS (Middle-East Respiratory Syndrome) or the SARS (Severe Acute Respiratory
                    Sindrome) They're called coronavirus because of the crown-shaped spikes found on the molecule surface (corona = crown). The coronaviruses are common in many animal species (such as camels and bats). There is, though, a very small chance
                    that Coronaviruses can evolve and infect a human, and then spread to the population. This new Coronavirus is actually a new branch of the Coronavirus family which has never been identified on a human until this recent pandemic started.</p>
            </div>
            <div class="col-3">
                <i class="fas fa-viruses img1"></i>
            </div>
            <div class="col-2"></div>
        </div>

        <!--Griglia 2-->

        <div class="row griglia2">
            <div class="compare">
                <h2>What symptoms can be found on an infected human?</h2>
                <p class="testog">
                    The most common symptoms from a Coronavirus infection on a human include fever, coughs and breathing difficulties. On more severe cases, the infection can cause pneumonia, SARS, kidney failure or even death. In particular, the Coronavirus branch which
                    infects humans cause low to moderate sicknesses located in the upper respiratory tract, like the common cold, which can persist no more than two weeks. Specific symptoms can include: runnying nose, headache, coughs, sore throat and
                    more generally feeling low on energy. Such coronaviruses can sometimes cause sicknesses located in the lower respiratory tract, like bronchitis or pneumonia. Pneumonia in particular is common on people affected by cardio-vascular chronic
                    diseases and/or respiratory chronic diseases, or subjects with weak immune system, like babies and old people.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <i class="fas fa-head-side-virus w3-margin-right img2"></i>
            </div>
            <div class="col-5">
                <h2>What symptoms can be found on an infected human?</h2>
                <p class="testog">The most common symptoms from a Coronavirus infection on a human include fever, coughs and breathing difficulties. On more severe cases, the infection can cause pneumonia, SARS, kidney failure or even death. In particular, the Coronavirus
                    branch which infects humans cause low to moderate sicknesses located in the upper respiratory tract, like the common cold, which can persist no more than two weeks. Specific symptoms can include: runnying nose, headache, coughs, sore
                    throat and more generally feeling low on energy. Such coronaviruses can sometimes cause sicknesses located in the lower respiratory tract, like bronchitis or pneumonia. Pneumonia in particular is common on people affected by cardio-vascular
                    chronic diseases and/or respiratory chronic diseases, or subjects with weak immune system, like babies and old people.</p>
            </div>

            <div class="col-3"></div>
        </div>


        <!--Griglia 3-->
        <div class="row griglia3">
            <div class="compare">
                <h1>How can it be transmitted?</h1>
                <p class="testog"> The Coronavirus branch which infects humans can be transmitted from two people through saliva contact, coughs, sneezes and direct contact. The most common example is by touching infected hands which have not been washed.The same goes for
                    mouth, nose and eyes, and on some very rare cases faecal contamination. To avoid being infected it is important to keep the protective mask on, keep the 3 ft. security distance, avoid to make crowds and wash your hands often.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>How can it be transmitted?</h1>
                <p class="testog">The Coronavirus branch which infects humans can be transmitted from two people through saliva contact, coughs, sneezes and direct contact. The most common example is by touching infected hands which have not been washed.The same goes for
                    mouth, nose and eyes, and on some very rare cases faecal contamination. To avoid being infected it is important to keep the protective mask on, keep the 3 ft. security distance, avoid to make crowds and wash your hands often.
                </p>
            </div>
            <div class="col-3">
                <i class="fas fa-shield-virus img3"></i>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>