.inizio {
    text-align: center;
}

.row {
    padding-top: 32px;
    padding-bottom: 32px;
}

i {
    font-size: 200px;
    color: #f15b03ed;
    padding-top: 50px;
}

.img1 {
    padding-left: 10%;
}

.img3 {
    padding-left: 20%;
}

.testog {
    text-align: justify;
    font-size: 17px;
}

.griglia0 {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ffffffdf;
}

.griglia1,
.griglia3 {
    background-color: rgba(226, 226, 251, 0.822);
}

.griglia2 {
    background-color: #ffffffdf;
}

p {
    color: rgb(28, 28, 28);
}

.wrapper {
    min-height: 84vh;
}

.compare {
    display: none;
}

@media screen and (max-width: 1000px) {
    .testog {
        font-size: 15px;
    }
    i {
        font-size: 100px;
    }
}

@media screen and (max-width: 750px) {
    i {
        display: none;
    }
    .col-5,
    .col-7 {
        display: none;
    }
    .compare {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
    }
}