<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body class="sfondo">
    <div class="wrapper">
        <!--Griglia zero-->
        <!-- <div class="w3-row-padding w3-container griglia0">
            <div class="w3-content">
                <div class="inizio">
                    <h2>Qui ci va' un'immagine di benvenuto</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-2" id="bianco"></div>
            <div class="griglia0 col-8"></div>
            <div class="col-2" id="bianco"></div>
        </div>

        <div class="griglia02"></div>


        <!-- <div class="row">
                <div class="compare">
                    <h2>Put some welcome stuff here</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
                <div class="col-2"></div>
                <div class="col-7">
                    <h2>Put soem welcome stuff here</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
                <div class="col-3"></div>
            </div> -->


        <!-- Prima griglia -->

        <div class="row griglia1">
            <div class="compare">
                <h1>What are coronaviruses?</h1>
                <p class="testog">Coronaviruses (CoV) are a large family of respiratory viruses that can cause mild to moderate illnesses, ranging from the common cold to respiratory syndromes such as MERS (Middle East Respiratory Syndrome) and SARS (Severe Acute Respiratory
                    Syndrome). They are named for the crown-like spikes on their surface, “corona” being the Latin for “crown”. Coronaviruses are common in several animal species (including camels and bats), but in rare cases can evolve to infect humans
                    and then spread between people. A novel coronavirus is a new strain of coronavirus that has not been previously identified in humans.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>What are coronaviruses?</h1>
                <p class="testog">
                    Coronaviruses (CoV) are a large family of respiratory viruses that can cause mild to moderate illnesses, ranging from the common cold to respiratory syndromes such as MERS (Middle East Respiratory Syndrome) and SARS (Severe Acute Respiratory Syndrome).
                    They are named for the crown-like spikes on their surface, “corona” being the Latin for “crown”. Coronaviruses are common in several animal species (including camels and bats), but in rare cases can evolve to infect humans and then
                    spread between people. A novel coronavirus is a new strain of coronavirus that has not been previously identified in humans.
                </p>
            </div>
            <div class="col-3">
                <i class="fas fa-viruses img1"></i>
            </div>
            <div class="col-2"></div>
        </div>

        <!--Griglia 2-->

        <div class="row griglia2">
            <div class="compare">
                <h1>Symptoms and diagnosis</h1>
                <p class="testog">
                    The most common symptoms of coronavirus infection in humans include fever, cough and breathingdifficulties. In more severe cases, the infection can cause pneumonia, acute respiratory distress syndrome (ARDS), kidney failure and even death. More specifically,
                    common human coronaviruses usually cause mild to moderate upper respiratory tract illnesses, like the common cold, which last for a short period of time. Symptoms may include runny nose, headache, cough, sore throat, fever, general
                    feeling of being unwell. Human coronaviruses can sometimes cause lower respiratory tract illnesses, such as pneumonia or bronchitis. This is more common in people with pre-existing chronic cardiovascular and/or respiratory diseases,
                    as well as individuals with weakened immune systems, infants and elderly people.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <i class="fas fa-head-side-virus w3-margin-right img2"></i>
            </div>
            <div class="col-5">
                <h1>Symptoms and diagnosis</h1>
                <p class="testog">The most common symptoms of coronavirus infection in humans include fever, cough and breathingdifficulties. In more severe cases, the infection can cause pneumonia, acute respiratory distress syndrome (ARDS), kidney failure and even death.
                    More specifically, common human coronaviruses usually cause mild to moderate upper respiratory tract illnesses, like the common cold, which last for a short period of time. Symptoms may include runny nose, headache, cough, sore throat,
                    fever, general feeling of being unwell. Human coronaviruses can sometimes cause lower respiratory tract illnesses, such as pneumonia or bronchitis. This is more common in people with pre-existing chronic cardiovascular and/or respiratory
                    diseases, as well as individuals with weakened immune systems, infants and elderly people.
                </p>
            </div>

            <div class="col-3"></div>
        </div>


        <!--Griglia 3-->
        <div class="row griglia3">
            <div class="compare">
                <h1>How is COVID-19 transmitted?</h1>
                <p class="testog"> Current evidence suggests that COVID-19 spreads between people through direct, indirect (through contaminated objects or surfaces), or close contact with infected people via mouth and nose secretions. These include saliva, respiratory
                    secretions or secretion droplets. These are released from the mouth or nose when an infected person coughs, sneezes, speaks or sings, for example. People who are in close contact (within 1 metre) with an infected person can catch COVID-19
                    when those infectious droplets get into their mouth, nose or eyes.To avoid contact with these droplets, it is important to stay at least 1 metre away from others, clean hands frequently, and cover the mouth with a tissue or bent elbow
                    when sneezing or coughing. When physical distancing (standing one metre or more away) is not possible, wearing a fabric mask is an important measure to protect others. Cleaning hands frequently is also critical.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>How is COVID-19 transmitted?</h1>
                <p class="testog"> Current evidence suggests that COVID-19 spreads between people through direct, indirect (through contaminated objects or surfaces), or close contact with infected people via mouth and nose secretions. These include saliva, respiratory
                    secretions or secretion droplets. These are released from the mouth or nose when an infected person coughs, sneezes, speaks or sings, for example. People who are in close contact (within 1 metre) with an infected person can catch COVID-19
                    when those infectious droplets get into their mouth, nose or eyes.To avoid contact with these droplets, it is important to stay at least 1 metre away from others, clean hands frequently, and cover the mouth with a tissue or bent elbow
                    when sneezing or coughing. When physical distancing (standing one metre or more away) is not possible, wearing a fabric mask is an important measure to protect others. Cleaning hands frequently is also critical.
                </p>
            </div>
            <div class="col-3">
                <i class="fas fa-shield-virus img3"></i>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <ngx-scrolltop></ngx-scrolltop>
</body>