<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    <div class="wrapper">
        <!--Griglia zero-->
        <div class="w3-row-padding w3-container griglia0">
            <div class="w3-content">
                <div class="inizio">
                    <h2>Qui ci va' un'immagine di benvenuto</h2>
                    <p class="testog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit, laboriosam aperiam optio, corporis porro placeat quas distinctio aliquam magnam ea veritatis explicabo praesentium? Facere, voluptates corporis. Impedit explicabo
                        quibusdam facilis iste fugiat repellat quos animi ipsa? Error iusto ab, ipsum, doloribus pariatur, ratione magni excepturi non dolor vel fuga labore impedit praesentium saepe velit dolorem expedita quo amet quos aperiam esse omnis.
                        Facere incidunt, magnam maiores repellendus dolores ad tempore deserunt optio vero hic ipsum quibusdam ducimus architecto suscipit modi reiciendis! Voluptates est nisi maxime ex facilis officia tempora velit unde minima reprehenderit!
                        Adipisci illo fuga ipsum quibusdam ipsam?</p>
                </div>
            </div>
        </div>

        <!-- Prima griglia -->

        <div class="row griglia1">
            <div class="compare">
                <h1>Cosa sono i coronavirus</h1>
                <p class="testog">I coronavirus (CoV) sono un’ampia famiglia di virus respiratori che possono causare malattie da lievi a moderate, dal comune raffreddore a sindromi respiratorie come la MERS (sindrome respiratoria mediorientale) e la SARS (sindrome respiratoria
                    acuta grave). Sono chiamati così per le punte a forma di corona che sono presenti sulla loro superficie. I coronavirus sono comuni in molte specie animali (come i cammelli e i pipistrelli) ma in alcuni casi, se pur raramente, possono
                    evolversi e infettare l’uomo per poi diffondersi nella popolazione. Un nuovo coronavirus è un nuovo ceppo di coronavirus che non è stato precedentemente mai identificato nell'uomo.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>Cosa sono i coronavirus</h1>
                <p class="testog">I coronavirus (CoV) sono un’ampia famiglia di virus respiratori che possono causare malattie da lievi a moderate, dal comune raffreddore a sindromi respiratorie come la MERS (sindrome respiratoria mediorientale) e la SARS (sindrome respiratoria
                    acuta grave). Sono chiamati così per le punte a forma di corona che sono presenti sulla loro superficie. I coronavirus sono comuni in molte specie animali (come i cammelli e i pipistrelli) ma in alcuni casi, se pur raramente, possono
                    evolversi e infettare l’uomo per poi diffondersi nella popolazione. Un nuovo coronavirus è un nuovo ceppo di coronavirus che non è stato precedentemente mai identificato nell'uomo.</p>
            </div>
            <div class="col-3">
                <i class="fas fa-viruses img1"></i>
            </div>
            <div class="col-2"></div>
        </div>

        <!--Griglia 2-->

        <div class="row griglia2">
            <div class="compare">
                <h2>Quali sono i sintomi?</h2>
                <p class="testog">I sintomi più comuni di un’infezione da coronavirus nell’uomo includono febbre, tosse, difficoltà respiratorie. Nei casi più gravi, l'infezione può causare polmonite, sindrome respiratoria acuta grave, insufficienza renale e persino la
                    morte. In particolare: I coronavirus umani comuni di solito causano malattie del tratto respiratorio superiore da lievi a moderate, come il comune raffreddore, che durano per un breve periodo di tempo. I sintomi possono includere:
                    naso che cola mal di testa tosse gola infiammata febbre una sensazione generale di malessere. I coronavirus umani a volte possono causare malattie del tratto respiratorio inferiore, come polmonite o bronchite. Questo è più comune nelle
                    persone con preesistenti patologie croniche dell’apparato cardio-vascolare e/o respiratorio, e soggetti con un sistema immunitario indebolito, nei neonati e negli anziani.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <i class="fas fa-head-side-virus w3-margin-right img2"></i>
            </div>
            <div class="col-5">
                <h2>Quali sono i sintomi?</h2>
                <p class="testog">I sintomi più comuni di un’infezione da coronavirus nell’uomo includono febbre, tosse, difficoltà respiratorie. Nei casi più gravi, l'infezione può causare polmonite, sindrome respiratoria acuta grave, insufficienza renale e persino la
                    morte. In particolare: I coronavirus umani comuni di solito causano malattie del tratto respiratorio superiore da lievi a moderate, come il comune raffreddore, che durano per un breve periodo di tempo. I sintomi possono includere:
                    naso che cola mal di testa tosse gola infiammata febbre una sensazione generale di malessere. I coronavirus umani a volte possono causare malattie del tratto respiratorio inferiore, come polmonite o bronchite. Questo è più comune nelle
                    persone con preesistenti patologie croniche dell’apparato cardio-vascolare e/o respiratorio, e soggetti con un sistema immunitario indebolito, nei neonati e negli anziani.</p>
            </div>

            <div class="col-3"></div>
        </div>


        <!--Griglia 3-->
        <div class="row griglia3">
            <div class="compare">
                <h1>Come si trasmette?</h1>
                <p class="testog">I coronavirus umani si trasmettono da una persona infetta a un’altra attraverso: la saliva, tossendo e starnutendo contatti diretti personali le mani, ad esempio toccando con le mani contaminate (non ancora lavate) bocca, naso o occhi
                    una contaminazione fecale (raramente). Per evitare il contagio è importante indossare la mascherina, mantenere la distanza di sicurezza di almeno un metro, evitare gli assembramenti, lavarsi spesso le mani.
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h1>Come si trasmette?</h1>
                <p class="testog">I coronavirus umani si trasmettono da una persona infetta a un’altra attraverso: la saliva, tossendo e starnutendo contatti diretti personali le mani, ad esempio toccando con le mani contaminate (non ancora lavate) bocca, naso o occhi
                    una contaminazione fecale (raramente). Per evitare il contagio è importante indossare la mascherina, mantenere la distanza di sicurezza di almeno un metro, evitare gli assembramenti, lavarsi spesso le mani.
                </p>
            </div>
            <div class="col-3">
                <i class="fas fa-shield-virus img3"></i>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>