<div class="wrapper">
    <div class="container p-5">
        <h1 class="text-center mb-5">
            Covid-19 DATA
        </h1>

        <div class="text-right">
            <!-- <button class="btn btn-primary mb-3" [routerLink]='["/add"]'>New</button> -->
            <button type="button" style="font-size: 30px" class="btn btn-default" aria-label="Left Align" [routerLink]='["/add"]'>
    <span class="fas fa-plus" aria-hidden="true"></span>
  </button>

            <button type="button" style="font-size: 30px" class="btn btn-default" aria-label="Left Align" [routerLink]='["/filter"]'>
    <span class="fas fa-filter" aria-hidden="true"></span>
  </button>

        </div>


        <table class="table tabellaUtenti">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Permission level</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let submit of usersData ; let i = index">
                    <th scope="row"> {{i + 1}}</th>
                    <td>{{submit.username}}</td>
                    <td *ngIf="submit.permissions == 1">Admin</td>
                    <td *ngIf="submit.permissions == 2">Press</td>
                    <td *ngIf="submit.permissions == 3">Burdo</td>
                    <!--Le righe seguenti sostituiranno submit.permissions-->
                    <!-- <td *ngIf="submit.permissions == 0">Admin</td>
                    <td *ngIf="submit.permissions == 1">Press</td>
                    <td *ngIf="submit.permissions == 2">User</td> -->
                </tr>
            </tbody>
        </table>





        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Country</th>
                    <th scope="col">Cases</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let entry of covidData ; let i = index" (click)="goToDetails(entry.id)">
                    <th scope="row"> {{i + 1}}</th>
                    <td>{{entry.country}}</td>
                    <td>{{entry.cases}}</td>
                    <td>{{entry.date | date}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>