.pointer {
    cursor: pointer;
}

.wrapper {
    /* min-height: 84vh; */
    min-height: 69vh;
    background-color: #00115fbb;
}


/* background-color: rgba(199, 199, 255, 0.459) */

th {
    color: rgb(228, 228, 228);
    /* background-color: #606b75a6; */
    background-color: #4c545ca6;
    /* border-color: whitesmoke; */
}

i {
    color: whitesmoke;
}


/* background-color: #606b75a6;
    border-color: #454d55; */

td {
    color: rgb(228, 228, 228);
    /* background-color: #606b75a6; */
    background-color: #4c545ca6;
    /* border-color: whitesmoke; */
}

span {
    color: rgb(29, 29, 29);
}

.table .thead-dark th {
    /* background-color: #606b75a6; */
    background-color: whitesmoke;
    border-color: black;
    color: black;
}

.table .tbody th {
    background-color: whitesmoke;
    border-color: black;
    color: black;
}

.table .tbody . td {
    background-color: whitesmoke;
    border-color: black;
    color: black;
}

h1,
h2 {
    color: whitesmoke
}

.tabellaUtenti {
    margin-bottom: 100px;
}

.flex-container {
    float: right;
    display: flex;
    justify-content: space-between;
}