#nazione {
    text-align: center;
}

.wrapper {
    min-height: 84vh;
    color: rgb(228, 228, 228);
    background-color: rgba(63, 63, 202, 0.281);
}

h1 {
    color: rgb(228, 228, 228);
}

.pointer {
    color: rgb(228, 228, 228);
}

#country {
    color: rgb(228, 228, 228);
}

input {
    color: rgb(228, 228, 228);
}

form {
    color: rgb(228, 228, 228);
}