<script type="text/javascript" src="./vendors/node_modules/chart.js/dist/chart.bundle.js"></script>
<script type="text/javascript" src="./assets/js/linechart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

<div class="wrapper">
    <div class="container p-5">
        <!-- <h1>Filter by country</h1> -->

        <div id="divChart">
            <canvas class="chart-wrapper" #chartwrapper id="chartwrapper">
            <!-- <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas> -->
            </canvas>
        </div>
        <div *ngIf="login.isPress || login.isAdmin">
            <a id="downloadLink" download="filename.png" (click)="saveAsImage()" title="Salvataggio Grafico">Save as PNG</a>
            <button id="dlCSV" (click)="downloadCSV()" class="btn-default">Save as CSV</button>
        </div>
        <div class="row">


            <form class="autoCampo">
                <mat-form-field>
                    <input type="text" placeholder="Choose a country" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" id="country" required [(ngModel)]="country">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <button id="updOff" class="btn btn-primary mb-3" *ngIf="flaggrafico==false" disabled>Update chart</button>

            <button id="updOn" class="btn btn-primary mb-3" (click)="updGraph(form)" *ngIf="flaggrafico ">Update chart</button>


            <!-- <div class="form-group row">
    <label for="country" class="col-sm-2 col-form-label">Country</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="country" required [(ngModel)]="country">
    </div>
    </div> -->
            <!-- <table class="table" ng-controller="myCtrl2" *ngIf="country" >
<thead class="thead-dark">
    <tr>
    <th scope="col">Country</th>
    <th scope="col">Cases</th>
    <th scope="col">Date</th>
    </tr>
</thead> -->


        </div>

        <!--FILTRO PER CATEGORIA-->
        <form class="pt-5" #form="ngForm">
            <div class="form-group row">
                <label for="continent" class="col-sm-2 col-form-label">Choose category</label>
                <div class="col-sm-10">
                    <select class="form-control" id="sort" ngModel required name="sort">
                        <option *ngFor="let option of sortingOptions"> {{option}} </option>
                    </select>
                </div>
            </div>
        </form>

        <!--Prova pulsante che fa cose -->
        <!-- <div>
            <button (click)="add()">Add Data</button>
            <div class="showInputField"></div>
        </div> -->

        <!--Recupera l'id dal pipe. Se c'è una corrispondenza, stampa il nome della nazione del database-->
        <!-- <h3>Mettere nella searchbar un sistema per suggerire i campi esistenti</h3> -->
        <h1 id="nazione"></h1>

        <!--Ciclo che mostra i dati del database corrispondenti ad una coutnry.
  Probabilmente sarà da eliminare ma per il momento rimane come riferimento per il codice-->
        <!-- <div class="pointer" *ngFor="let entry of covidData | country : country">
            <td>{{entry.cases}}</td>
            <td>{{entry.date | date}}</td>
        </div> -->

        <!-- </table> -->
    </div>

    <!-- <a id='a' (click)="save()">click me to save</a> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/FileSaver.js/master/FileSaver.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <ngx-scrolltop></ngx-scrolltop>
</div>
<!--<button id="download" class="btn btn-primary float-right bg-flat-color-1" (click)="save()" title="Salvataggio Grafico"> </button><-->


<!-- Download Icon -->
<!-- <i class="fa fa-download"></i>

</a> -->


<!-- <script src="./bootstrap-4.4.1/js/bootstrap.min.js" charset="utf-8"></script>
<script src="./bootstrap-4.4.1/jquery/jquery-3.4.1.js" charset="utf-8"></script> -->