<script type="text/javascript" src="./vendors/node_modules/chart.js/dist/chart.bundle.js"></script>
<script type="text/javascript" src="./assets/js/linechart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

<div class="wrapper">
    <div class="container">
        <!-- <h1>Filter by country</h1> -->

        <div class="row" id="selezione">
            <div class="col-8">
                <form class="autoCampo">
                    <mat-form-field>
                        <input type="text" placeholder="Choose a country" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" id="country" required [(ngModel)]="country">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>

            <!--FILTRO PER CATEGORIA-->
            <div class="col-4">
                <form class="" #form="ngForm">
                    <div class="form-group row" id="field">
                        <label for="continent" class="col-sm-4 col-form-label">Choose field</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="sort" ngModel required name="sort">
                                <option *ngFor="let option of sortingOptions"> {{option}} </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div id="divChart">
                        <canvas class="chart-wrapper" #chartwrapper id="chartwrapper">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8" style="text-align:left">
                    <button id="updOff" class="btn btn-primary" *ngIf="flaggrafico==false" disabled>Update chart</button>
                    <button id="updOn" class="btn btn-primary" (click)="updGraph(form)" *ngIf="flaggrafico ">Update chart</button>
                </div>
                <div class="col-2" style="align-items:initial" *ngIf="login.isPress || login.isAdmin">
                    <a id="downloadLink" download="filename.png" (click)="saveAsImage()" title="Salvataggio Grafico" data-toggle="tooltip" data-placement="bottom" title="Save this chart as PNG">Save as PNG</a>
                </div>

                <div class="col-2" style="text-align:right;align-items:initial" *ngIf="login.isPress || login.isAdmin">
                    <button id="dlCSV" (click)="downloadCSV()" class="btn-default" data-toggle="tooltip" data-placement="bottom" title="Save all data as CSV">Save as CSV</button>
                </div>
            </div>
        </div>




        <div>
            <h1 id="nazione"></h1>
        </div>

        <!--Ciclo che mostra i dati del database corrispondenti ad una coutnry.
        Probabilmente sarà da eliminare ma per il momento rimane come riferimento per il codice-->
        <div class="pointer" *ngFor="let entry of covidData | country : country">
            <!-- <td>{{entry.cases}}</td>
            <td>{{entry.date | date}}</td> -->
        </div>

        <!-- </table> -->
    </div>


    <!-- <a id='a' (click)="save()">click me to save</a> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/FileSaver.js/master/FileSaver.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <ngx-scrolltop></ngx-scrolltop>
</div>
<!--<button id="download" class="btn btn-primary float-right bg-flat-color-1" (click)="save()" title="Salvataggio Grafico"> </button><-->


<!-- Download Icon -->
<!-- <i class="fa fa-download"></i>

</a> -->


<!-- <script src="./bootstrap-4.4.1/js/bootstrap.min.js" charset="utf-8"></script>
<script src="./bootstrap-4.4.1/jquery/jquery-3.4.1.js" charset="utf-8"></script> -->