#nazione {
    text-align: center;
}

.wrapper {
    min-height: 820px;
    color: rgb(28, 28, 28);
    /* background-color: rgba(226, 226, 251, 0.822); */
    background-color: #00115fbb;
}

h1 {
    color: whitesmoke;
}

.pointer {
    color: rgb(28, 28, 28);
}

#country {
    color: rgb(28, 28, 28);
}

input {
    color: rgb(28, 28, 28);
}

form {
    color: rgb(28, 28, 28);
}


/* #divChart, */

#chartwrapper {
    display: block;
    height: 675px;
    width: 1200px;
}

a {
    color: whitesmoke;
    background-color: rgb(20, 136, 15);
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(15, 110, 12);
    cursor: pointer;
}

#dlCSV {
    color: whitesmoke;
    background-color: #ED254E;
    height: 42px;
    border-radius: 5px;
    border-color: rgb(95, 114, 13, 0);
}

#dlCSV:hover {
    background-color: #ca2042;
}

.autoCampo {
    margin-left: 1%;
}

.container-fluid {
    width: 100%
}

.updateg {
    margin-right: 50%;
}

canvas {
    background-color: white;
}

#updOn {
    background-color: #4F7CAC;
}

#updOff {
    background-color: #4F7CAC;
}

#selezione {
    padding-top: 10px;
    padding-bottom: 100px;
}

#downloadLink {
    color: whitesmoke;
    background-color: #101935;
    margin-top: 0px;
    position: absolute;
}

.pointer {
    display: none;
}

#field {
    padding-top: 12px;
    color: white;
}

#autoroba {
    color: white;
}

@media screen and (max-width: 990px) {
    .updateg {
        margin-right: 20%;
    }
    #downloadLink {
        font-size: 10px;
        margin-top: 0px;
    }
    #updOff {
        font-size: 10px;
    }
    #updOn {
        font-size: 10px;
    }
    #dlCSV {
        font-size: 10px;
        height: 29px;
    }
}

@media screen and (max-width: 768px) {}