<div class="wrapper">
    <div *ngIf="usersEntry != null " class="container- p-5">

        <div class="detailsWrapper">
            <div class="row p-4 my-2 mx-1 border shadow">
                <button class="btn btn-primary mr-5" [routerLink]="['/dashboard']">Back</button>
                <h3>User Details</h3>
            </div>
        </div>

        <div class="tableWrapper">
            <table class="table">
                <thead class="thead-dark"></thead>
                <tbody class="tbody">
                    <tr class="pointer">
                        <!-- <td class="list-group-item">Id : {{ dataEntry.id }}</td> -->
                        <td class="list-group-item">Username : {{usersEntry.username}}</td>
                        <td *ngIf="usersEntry.permissions == 1" class="list-group-item">Permissions : Admin</td>
                        <td *ngIf="usersEntry.permissions == 2" class="list-group-item">Permissions : Press</td>
                        <td *ngIf="usersEntry.permissions == 3" class="list-group-item">Permissions : Basic</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <button class="btn btn-danger ml-5" (click)='delete()'>Delete</button>
            <button class="btn btn-primary ml-3" [routerLink]="['/edit/'+ usersEntry.id]">Edit</button>
        </div>
        <br>
    </div>
</div>