/* .pointer {
    cursor: pointer;
} */

.wrapper {
    /* min-height: 84vh; */
    min-height: 69vh;
    background-color: #00115fbb;
}

h3 {
    color: black;
}

.detailsWrapper {
    background-color: whitesmoke;
    border-color: black;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

.table .tbody td {
    background-color: whitesmoke;
    border-color: black;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

.table {
    border-color: black;
}

td {
    border-color: black;
}

tr {
    border-color: black;
}


/* th {
    color: rgb(228, 228, 228);
    background-color: #4c545ca6;
    border-color: whitesmoke;
} */


/* background-color: #606b75a6;
    border-color: #454d55; */


/* td {
    color: rgb(228, 228, 228);
    background-color: #4c545ca6;
    border-color: whitesmoke;
}

span {
    color: rgb(29, 29, 29);
}

.table .thead-dark th {
    background-color: #4c545ca6;
    border-color: #f1f1f1;
} */

h1 {
    color: rgb(29, 29, 29);
}

.tabellaUtenti {
    margin-bottom: 100px;
}

.flex-contianer {
    display: flex;
    justify-content: space-between;
}

.left-btn {
    width: 100px;
}

.right-btn {
    width: 100px;
}